/*general styling*/

* {
  box-sizing: border-box;
}

html {
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Edu NSW ACT Foundation, sans-serif;
}

main {
  padding: 16px;
  max-width: 800px;
  margin: 0px, auto;
  background-color: black;
  color: whitesmoke;
}

/*specific styling*/

.experience > * {
  display: inline;
}

.main > * {
  border-top: 2px solid whitesmoke;
}

.main > * + * {
  margin-top: 32px;
}

.nav-link:link {
  color: black;
}

.nav-link:hover {
  background-color: gray;
}

.nav-link:active {
  color: white;
}

.nav-link + .nav-link {
  margin-left: 16px;
}

.contact:link {
  color: whitesmoke;
}

.contact:hover {
  background-color: whitesmoke;
  color: black;
}

.contact:active {
  color: gray;
}

#overall-header {
  text-align: center;
  color: black;
  background-color: lightgrey;
  padding: 48px 18px;
  max-width: 800px;
}

#profession-subheading::after {
  content: " 🦖 ";
}
